.btn {
    padding: 5px;
    margin-right: 10px;
    border: 2px solid rgba(201, 195, 111, 0.808);
    border-radius: 15%;
    background-color: #f8fadf;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:focus{
background-color: rgba(201, 195, 111, 0.808);
}