.container {
    width: 90%;
    max-width: 1100px;
    padding: 20px;
    border: 1px solid rgba(250, 243, 145, 0.774);
    background: linear-gradient(to left, rgba(247, 244, 244, 0.575), rgba(250, 243, 145, 0.774));
    border-radius: 20px;
    color: rgb(6, 6, 53);
}
